.header_brand {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header_brand_logo {
  height: 60px;
  border-radius: 30px;
  margin: 0 20px;
  background-size: contain;
}

.header_items {
  color: white;
}

.header_items a:hover {
  color: aqua !important;
  text-shadow: 5px 5px 5px #000;
}

.header_brand_name {
  color: white;
  font-weight: bold;
}

.drawer_list a:hover {
  color: aqua !important;
  text-shadow: 5px 5px 5px #000;
}
