.features {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  top: -100px;
  z-index: 100;
}

.MuiButtonBase-root {
  outline: none !important;
}

.features_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
